# node.js
#
node_modules/
npm-debug.log
yarn-error.log


# YARN
.yarn
.yarn/*
.yarn/cache/*
.yarn/releases/*
.yarn/cache
.yarn/release
.pnp.cjs
.yarnrc.yml

database/assets
database/backups
database/pg-data
